aws-cdk.aws-cloudformation
aws-cdk.aws-cloudwatch
aws-cdk.aws-iam
aws-cdk.aws-lambda
aws-cdk.aws-s3
aws-cdk.aws-s3-deployment
aws-cdk.aws-sagemaker
aws-cdk.aws-iam
aws_cdk.aws_ec2
aws-cdk.aws_codecommit
aws-cdk.aws-lambda-event-sources

pip==21.2.4
boto3==1.18.42
sagemaker==2.59.1.post0
sagemaker-experiments==0.1.35
s3fs==0.4.2
s3transfer==0.5.0